@page
@using EdTube.Models
@model EdTube.Pages.Channel.View

@{
    ViewData["Title"] = $"Видео с канала {Model.ChannelModel.Name}";
}

<script>
    function onThumbnailClick(e){
        var img = e.target;
        var videoId = img.getAttribute('videoId');
        var videoWrapper = document.querySelectorAll(`[videoWrapperId="${videoId}"]`)[0];
        img.parentNode.setAttribute('hidden', '');
        videoWrapper.removeAttribute('hidden');
        videoWrapper.children[0].play();
    }
    
    function onVideoEnded(e){
        var video = e.target;
        var videoWrapper = video.parentNode;
        var videoId = videoWrapper.getAttribute('videoWrapperId');
        var thumbnail = document.querySelectorAll(`[videoId="${videoId}"]`)[0];
        thumbnail.parentNode.removeAttribute('hidden');
        videoWrapper.setAttribute('hidden', '');
    }
    
    function openVideo(id){
        window.location.href = "/Video/View?id=" + id;
    }
</script>

<style>
    .video-block {
        cursor: pointer;
    }
    
    .video-thumbnail,
    .video-thumbnail > img {
        border-radius: 1rem !important;
    }
    
    .border-solid {
        border-style: solid;
    }
</style>

<h2> Видео с канала @Model.ChannelModel.Name</h2>
<div class="d-sm-flex flex-wrap">
    @foreach (var item in Model.Videos)
        {
            <div class="mt-3 mw-3 me-3 video-block " >
                <div class="border-2 border-primary border-solid p-2">
                    <h3 class="text-center">@item.Name</h3>
                    <div class="video-thumbnail">
                        <img class="ra" role="button" videoId="@item.Id" src="@item.ThumbnailFilePath" alt="@item.Name" onclick="openVideo(@item.Id)"/>
                    </div>
                </div>
            </div>
        }
</div>
